/* 

h3 {
    color: yellow;
    text-align: center;
} */

body {
    background-image: "./Assets/prof.jpg";
}

p {
    font-family: 'DotGothic16', sans-serif;
    /* font-family: 'Cairo', sans-serif; */
}

p:hover {
    cursor: pointer;
}

.colms {
    padding-bottom: 10px;
}

.img {
    height: 200px;
}

.card {
    height: auto;
}

.order {
    padding-left: 100px;
}

.sub {
    margin-left: 80px;
}

.kuku,
.periperi,
.veggie {
    display: none;
}

.table {
    color: white;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    height: 100%;
    width: 100%;
    filter: blur(10px 2);
    overflow: scroll;
    display: none;
}

.cart h3 {
    color: white;
}

.cart .close {
    position: relative;
    height: 20px;
    width: 20px;
    display: block;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.shopping-cart {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #763857;
    padding: 10px;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.shopping-cart .items-added {
    position: absolute;
    top: -10px;
    right: -8px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    border: .9px solid black;
    border-radius: 50%;
    color: white;
}